<html>
  
  <body>
    <div class="login-collection">
      <form method="POST">
        <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
        <!-- <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
        <input type="password" class="form-control mb-2" placeholder="Password" #userPassword2 required> -->
        <button class="waves-effect waves-light btn" (click)="createAccount(userEmail.value)">create account</button>
      </form>
    </div>
  </body>
</html>

