<!DOCTYPE html>
<html>
  <body>
    <div class="user-settings-collection">
      <form>
        <li class="text" >
            <pre>{{ currentUser$ | async | json }}</pre>
        </li>
        <input type="text" class="form-control mb-2" placeholder="name" #userName>
        <input type="number" class="form-control mb-2" placeholder="age" #userAge>
        <div style="align-content: center" >

        </div>
        <button class="waves-effect waves-light btn" (click)="updateData(userAge.value, userName.value)">update settings</button>
        <button class="waves-effect waves-light btn" (click)="sendResetPasswordMail()">new password</button>
      </form>
    </div>
  </body>
</html>
<html>