<!DOCTYPE html>
<html>
  <body>
    <div class="user-settings-collection">

      <form [formGroup]="data" (submit)="updateData()">
        <li class="text" >
            <pre>{{ currentUser$ | async | json }}</pre>
        </li>
        <label for="name">Name</label>
        <input type="text" class="form-control mb-2" formControlName="name" id="name">
        <control-messages class="error-message" [control]="data.get('name')"></control-messages>
        
        <label for="age">Age</label>
        <input type="number" class="form-control mb-2" formControlName="age" id="age">
        <control-messages class="error-message" [control]="data.get('age')"></control-messages>

        <div style="align-content: center"></div>
        <button type="submit" class="waves-effect waves-light btn" [disabled]="!data.valid">update settings</button>
        <button class="waves-effect waves-light btn" (click)="sendResetPasswordMail()">new password</button>
      </form>
    </div>
  </body>
</html>
<html>